/*Collapse table to display no gaps*/
table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}

/*Table styles*/
th, td {
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
}

th {
    font-size: 0.9em;
}

td {
    font-size: 0.8em;
}

/*Different Table Head Colors*/
.one th {
    background-color: #14CCBA;
}

.two th {
    background-color: #CC14BB;
}

.three th {
    background-color: #00FF56;
}

.four th {
    background-color: #3D9990;
}

.five th {
    background-color: #FF408D;
}

.six th {
    background-color: #FFEB00;
}

.title {
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
}

/*Banner image*/
.banner {
    background: url('../images/cast.jpg') no-repeat scroll 20% 30%;
    background-size: cover;
    opacity: 0.7;
}

.banner h1 {
    font-size: 2em;
    text-shadow: 1px 3px 5px #333, 0 0 25px #333, 0 0 5px #999;
}

/*Horizontal Rule Styling*/
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 100px auto;
    width: 50%;
}

/*Hid first Horizontal rule*/
hr:first-of-type {
    opacity: 0;
}